<h1>INSERT PRODUCT</h1>
<form class="form" action="/product/insertproduct" method="POST">

    <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="type the title ">
    </div>

    <div class="form-control">
        <label for="amount">Amount</label>
        <input type="number" name="amount" placeholder="type the amount ">
    </div>

        <input class="button1" type="submit" value="Submit">
</form>